<div class="row">
  <div class="col-md-1">
    <p><%= line.quantity.to_s %> <%= line.uom %></p>
  </div>
  <div class="col-md-11">
    <p><%= line.description %></p>
  </div>
  <% line.warnings.each do |warning| %>
    <%= render warning %>
  <% end %>
  <% line.item.warnings.each do |warning| %>
    <%= render warning %>
  <% end %>
</div>
    