<div class="row">
  <div class="col-xs-12">
    <p class="line-text <%= " frozen " if line.item.is_frozen?%>"><%= line.quantity.to_s %> <%= line.uom %> of <%= line.description %></p>
  </div>
</div>

<% line.warnings.each do |warning| %>
  <%= render warning %>
<% end %>

<% line.item.warnings.each do |warning| %>
  <%= render warning %>
<% end %>