<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.text_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :order_num %><br>
    <%= f.text_field :order_num %>
  </div>
  <div class="field">
    <%= f.label :date_needed %><br>
    <%= f.date_select :date_needed %>
  </div>
  <div class="field">
    <%= f.label :invoice_num %><br>
    <%= f.text_field :invoice_num %>
  </div>
  <div class="field">
    <%= f.label :invoice_date %><br>
    <%= f.text_field :invoice_date %>
  </div>
  <div class="field">
    <%= f.label :status_code %><br>
    <%= f.text_field :status_code %>
  </div>
  <div class="field">
    <%= f.label :customer_code %><br>
    <%= f.text_field :customer_code %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :route_code %><br>
    <%= f.text_field :route_code %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.date_select :order_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
