<div class="ticket">

  <div class="row">
    <div class="col-md-12">
      <h3 class="ticket-title"><%= ticket.customer_code %></h3>
      <p>
        Status: <%= ticket.status_code %>
        Order Number: <%= ticket.order_num %>
        Needed On: <%= ticket.date_needed.strftime('%A').to_s %> (<%= ticket.date_needed.to_s %>)
      </p>
    </div>
  </div>
  
  <div class="ticket-details">
    
    <% ticket.warnings.each do |warning| %>
      <%= render warning %>
    <% end %>
    
    <% ticket.lines.each do |line| %>
      <%= render line %>
    <% end %>
  
  </div>

</div>