<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Order num</th>
      <th>Date needed</th>
      <th>Invoice num</th>
      <th>Invoice date</th>
      <th>Status code</th>
      <th>Customer code</th>
      <th>Total</th>
      <th>Route code</th>
      <th>Order date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.order_id %></td>
        <td><%= ticket.order_num %></td>
        <td><%= ticket.date_needed %></td>
        <td><%= ticket.invoice_num %></td>
        <td><%= ticket.invoice_date %></td>
        <td><%= ticket.status_code %></td>
        <td><%= ticket.customer_code %></td>
        <td><%= ticket.total %></td>
        <td><%= ticket.route_code %></td>
        <td><%= ticket.order_date %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
